Repository jarvis-network/synthereum, changes with the owners that CODEOWNERS names for each.
All owners: @PetarKirov, @jarvis-network/apps/exchange, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski, @Aleione, @asim_jarvis

[validator/package.json]: Clean up scripts and dependencies
  apps/validator/package.json
  libs/contracts/package.json
  package.json
  yarn.lock
Owners: @PetarKirov, @Aleione, @asim_jarvis, @dimitar.nestorov, @jarvis-network/apps/exchange

Support reversed price feed pairs
  apps/frontend/state/slices/prices.ts
  libs/contracts/src/config/data/all-synthetic-assets.ts
  libs/contracts/src/config/data/price-feed.ts
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski, @jarvis-network/apps/exchange

[validator]: Add nx scripts
  nx.json
  workspace.json
Owners: @jarvis-network/apps/exchange

[web3-utils]: Add nx scripts
  nx.json
  workspace.json
Owners: @jarvis-network/apps/exchange

build(gitlab): :sparkles: Add CI
  .gitlab-ci.yml
Owners: @jarvis-network/apps/exchange

[frontend-old]: Disable ESLint via SKIP_PREFLIGHT_CHECK
  packages/frontend-old/package.json
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

feat(root): :tada: Move the devDependencies to root package.json
  .editorconfig
  apps/frontend/package.json
  apps/validator/package.json
  commitlint.config.js
  libs/contracts/package.json
  libs/web3-utils/dist/package.json
  package.json
  workspace.json
  yarn.lock
Owners: @jarvis-network/apps/exchange, @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski, @Aleione, @asim_jarvis

[contracts]: Add nx scripts
  nx.json
  workspace.json
Owners: @jarvis-network/apps/exchange

build(root): :whale: Add the docker and buildx
  .dockerignore
  Dockerfile
  docker-bake.hcl
  docker-compose.yaml
Owners: @jarvis-network/apps/exchange

[.prettier]: Format files
  nx.json
  workspace.json
Owners: @jarvis-network/apps/exchange

[package.json]: Add the nx packages and remove lerna
  package.json
  yarn.lock
Owners: @jarvis-network/apps/exchange

[frontend]: Add nx scripts
  nx.json
  workspace.json
Owners: @jarvis-network/apps/exchange

feat(root): :hammer: Change the registry
  .gitlab-ci.yml
  docker-bake.hcl
  package.json
Owners: @jarvis-network/apps/exchange

[Docs] in tic example added comment with path to fees calculation doc
  libs/contracts/examples/intro/ierc20-tic_factory-tic_interface.ts
Owners: @jarvis-network/apps/exchange

[Exchange] Fix ui crashing while prices are loading
  apps/frontend/components/AssetRow.tsx
  apps/frontend/components/exchange/ChooseAsset.tsx
  apps/frontend/components/exchange/ExchangeCard.tsx
  apps/frontend/components/header/AccountOverviewModal.tsx
  apps/frontend/data/assets.ts
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

[Exchange] added swap button interaction
  apps/frontend/components/FullScreenLoader.tsx
  apps/frontend/components/Loader.tsx
  apps/frontend/components/exchange/Fees.tsx
  apps/frontend/components/exchange/MainForm.tsx
  apps/frontend/components/exchange/useSwap.ts
  apps/frontend/data/fee.ts
  apps/frontend/pages/_app.tsx
  apps/frontend/state/initialState.ts
  apps/frontend/state/slices/app.ts
  apps/frontend/utils/useExchangeValues.ts
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

[Exchange] Limit frontend visible assets
  apps/frontend/.env.example
  apps/frontend/components/header/AccountOverviewModal.tsx
  apps/frontend/data/assets.ts
  apps/frontend/utils/environment.ts
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

[CodeStyle] Removed some hardcodes and used constants instead
  apps/frontend/components/exchange/useSwap.ts
  apps/frontend/components/header/AccountOverviewModal.tsx
  apps/frontend/data/assets.ts
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

[Contracts] changed fee configuration to 0.2%
  libs/contracts/src/config/data/fees.ts
Owners: @jarvis-network/apps/exchange

[Exchange] fix missing jXAU icon
  apps/frontend/data/assets.ts
  apps/frontend/package.json
  yarn.lock
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski, @jarvis-network/apps/exchange

chore(package.json): :lipstick: Sort the packages
  package.json
Owners: @jarvis-network/apps/exchange

feat(validator-lib): :sparkles: Create the Exchange,Mint and Redeem Services
  libs/validator-lib/package.json
  libs/validator-lib/src/api/jarvis_market_price_feed.ts
  libs/validator-lib/src/config.ts
  libs/validator-lib/src/index.ts
  libs/validator-lib/src/interfaces/exchange.request.ts
  libs/validator-lib/src/interfaces/index.ts
  libs/validator-lib/src/interfaces/mint.request.ts
  libs/validator-lib/src/interfaces/redeem.request.ts
  libs/validator-lib/src/requests/exchange.ts
  libs/validator-lib/src/requests/index.ts
  libs/validator-lib/src/requests/mint.ts
  libs/validator-lib/src/requests/redeem.ts
Owners: @PetarKirov

feat(validator-lib): :sparkles: Create the logger
  libs/validator-lib/package.json
  libs/validator-lib/src/log.ts
  yarn.lock
Owners: @PetarKirov, @jarvis-network/apps/exchange

build(validator): :heavy_plus_sign: Add the validator-lib
  apps/validator/package.json
Owners: @PetarKirov, @Aleione, @asim_jarvis, @dimitar.nestorov

feat(validator-lib): :tada: Initial commit
  libs/validator-lib/babel.config.js
  libs/validator-lib/package.json
  libs/validator-lib/tsconfig.json
  libs/validator-lib/tslint.json
  libs/validator-lib/webpack.config.js
  nx.json
  package.json
  workspace.json
  yarn.lock
Owners: @PetarKirov, @jarvis-network/apps/exchange

feat(meta-tx-lib): :tada: Initial commit
  libs/meta-tx-lib/babel.config.js
  libs/meta-tx-lib/package.json
  libs/meta-tx-lib/tsconfig.json
  libs/meta-tx-lib/tslint.json
  libs/meta-tx-lib/webpack.config.js
  nx.json
  package.json
  workspace.json
Owners: @PetarKirov, @jarvis-network/apps/exchange

feat(docker): :whale: Add the docker script
  Dockerfile
Owners: @jarvis-network/apps/exchange

refactor(validator): :fire: Remove log file
  apps/validator/src/logger.ts
Owners: @PetarKirov, @Aleione, @asim_jarvis, @dimitar.nestorov

feat(validator): :recycle: Use validator-lib services and config
  apps/validator/src/config.ts
  apps/validator/src/services/SynFiatKeeper.ts
Owners: @PetarKirov, @Aleione, @asim_jarvis, @dimitar.nestorov

feat(meta-tx-lib): :sparkles: Create the EIP712Domain lib
  libs/meta-tx-lib/src/config.ts
  libs/meta-tx-lib/src/eip712domain/eip712domain.lib.ts
  libs/meta-tx-lib/src/eip712domain/index.ts
  libs/meta-tx-lib/src/index.ts
  libs/meta-tx-lib/src/interfaces/index.ts
  libs/meta-tx-lib/src/interfaces/signature.interface.ts
  libs/meta-tx-lib/src/interfaces/typehash.interface.ts
Owners: @PetarKirov

feat(validator-meta-tx): :tada: Initial commit
  .eslintrc.json
  apps/validator-meta-tx/.eslintrc.json
  apps/validator-meta-tx/src/app/.gitkeep
  apps/validator-meta-tx/src/app/app.controller.spec.ts
  apps/validator-meta-tx/src/app/app.controller.ts
  apps/validator-meta-tx/src/app/app.module.ts
  apps/validator-meta-tx/src/app/app.service.spec.ts
  apps/validator-meta-tx/src/app/app.service.ts
  apps/validator-meta-tx/src/assets/.gitkeep
  apps/validator-meta-tx/src/main.ts
  apps/validator-meta-tx/tsconfig.app.json
  apps/validator-meta-tx/tsconfig.json
  apps/validator-meta-tx/tsconfig.spec.json
  jest.config.js
  jest.preset.js
  nx.json
  package.json
  workspace.json
  yarn.lock
Owners: @jarvis-network/apps/exchange, @PetarKirov

build(root): :arrow_up: Move the nest dependencies from root to apps folder
  apps/validator-meta-tx/package.json
  yarn.lock
Owners: @PetarKirov, @jarvis-network/apps/exchange

fix(docker): :sparkles: Create script for meta-tx-lib
  Dockerfile
Owners: @jarvis-network/apps/exchange

feat(validator-meta-tx): :sparkles: Create the generic interceptors and handlers
  apps/validator-meta-tx/src/app/app.module.ts
  apps/validator-meta-tx/src/shared/filters/http-exception.filter.ts
  apps/validator-meta-tx/src/shared/interceptors/timeout.interceptors.ts
  apps/validator-meta-tx/tsconfig.app.json
  apps/validator-meta-tx/tsconfig.json
Owners: @PetarKirov

feat(validator-meta-tx): :sparkles: Add the decorator
  apps/validator-meta-tx/src/shared/decorator/validate.decorator.ts
Owners: @PetarKirov

build(root): :construction: Update config
  apps/validator-meta-tx/package.json
  apps/validator-meta-tx/src/app.module.ts
  apps/validator-meta-tx/src/app/.gitkeep
  apps/validator-meta-tx/src/app/app.controller.spec.ts
  apps/validator-meta-tx/src/app/app.controller.ts
  apps/validator-meta-tx/src/app/app.module.ts
  apps/validator-meta-tx/src/app/app.service.spec.ts
  apps/validator-meta-tx/src/app/app.service.ts
  apps/validator-meta-tx/src/assets/.gitkeep
  apps/validator-meta-tx/src/config.ts
  apps/validator-meta-tx/src/dispatcher.ts
  apps/validator-meta-tx/src/main.ts
  apps/validator-meta-tx/src/shared/decorator/validate.decorator.ts
  apps/validator-meta-tx/tsconfig.app.json
  apps/validator-meta-tx/tsconfig.build.json
  apps/validator-meta-tx/tsconfig.json
  workspace.json
  yarn.lock
Owners: @PetarKirov, @jarvis-network/apps/exchange

feat(meta-tx-lib): :sparkles: Add mind,redeem and withdraw message body generator
  libs/meta-tx-lib/src/exchange/exchange.service.ts
  libs/meta-tx-lib/src/exchange/exchange.utils.ts
  libs/meta-tx-lib/src/exchange/index.ts
  libs/meta-tx-lib/src/index.ts
  libs/meta-tx-lib/src/interfaces/exchange.interface.ts
  libs/meta-tx-lib/src/interfaces/index.ts
  libs/meta-tx-lib/src/interfaces/mint.interface.ts
  libs/meta-tx-lib/src/interfaces/redeem.interface.ts
  libs/meta-tx-lib/src/interfaces/signature.interface.ts
  libs/meta-tx-lib/src/interfaces/typehash.interface.ts
  libs/meta-tx-lib/src/mint/index.ts
  libs/meta-tx-lib/src/mint/mint.service.ts
  libs/meta-tx-lib/src/mint/mint.utils.ts
  libs/meta-tx-lib/src/redeem/index.ts
  libs/meta-tx-lib/src/redeem/redeem.service.ts
  libs/meta-tx-lib/src/redeem/redeem.utils.ts
Owners: @PetarKirov

feat(contracts): :sparkles: Add assertion for the synthetic symbols
  libs/contracts/src/config/data/all-synthetic-asset-symbols.ts
Owners: @jarvis-network/apps/exchange

build(meta-tx-lib): :heavy_plus_sign: Add the web3 libs
  libs/meta-tx-lib/package.json
  yarn.lock
Owners: @PetarKirov, @jarvis-network/apps/exchange

feat(validator-meta-tx): :sparkles: Inherit config from the validator-lib
  apps/validator-meta-tx/src/config.ts
Owners: @PetarKirov

CODEOWNERS:

### Default owner for everything
* @PetarKirov

### Allow everyone to edit root files and docs
/* @jarvis-network/apps/exchange
/docs/ @jarvis-network/apps/exchange

### ... except CODEOWNERS
/CODEOWNERS @PetarKirov

### Packages

/apps/frontend/ @PetarKirov @dimitar.nestorov @jacek.nowacki1 @jurijtokarski
/packages/frontend-old/ @PetarKirov @dimitar.nestorov @jacek.nowacki1 @jurijtokarski

/apps/validator/ @PetarKirov @Aleione @asim_jarvis @dimitar.nestorov
/packages/keeper-bot/ @PetarKirov @Aleione @asim_jarvis @dimitar.nestorov

/apps/cli/ @jarvis-network/apps/exchange
/libs/web3-utils/ @jarvis-network/apps/exchange
/libs/contracts/ @jarvis-network/apps/exchange
/packages/balance-notify/ @jarvis-network/apps/exchange

/libs/contracts/contracts/ @Aleione
/libs/contracts/migrations/ @Aleione
/libs/contracts/data/ @Aleione
