Repository jarvis-network/synthereum, changes with the owners that CODEOWNERS names for each.
All owners: @PetarKirov, @jarvis-network/apps/exchange, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski, @Aleione, @asim_jarvis

CODEOWNERS:

### Default owner for everything
* @PetarKirov

### Allow everyone to edit root files and docs
/* @jarvis-network/apps/exchange
/docs/ @jarvis-network/apps/exchange

### ... except CODEOWNERS
/CODEOWNERS @PetarKirov

### Packages

/apps/frontend/ @PetarKirov @dimitar.nestorov @jacek.nowacki1 @jurijtokarski
/packages/frontend-old/ @PetarKirov @dimitar.nestorov @jacek.nowacki1 @jurijtokarski

/apps/validator/ @PetarKirov @Aleione @asim_jarvis @dimitar.nestorov
/packages/keeper-bot/ @PetarKirov @Aleione @asim_jarvis @dimitar.nestorov

/apps/cli/ @jarvis-network/apps/exchange
/libs/web3-utils/ @jarvis-network/apps/exchange
/libs/contracts/ @jarvis-network/apps/exchange
/packages/balance-notify/ @jarvis-network/apps/exchange

/libs/contracts/contracts/ @Aleione
/libs/contracts/migrations/ @Aleione
/libs/contracts/data/ @Aleione

feat(validator): :recycle: Use validator-lib services and config
  apps/validator/src/config.ts
  apps/validator/src/services/SynFiatKeeper.ts
Owners: @PetarKirov, @Aleione, @asim_jarvis, @dimitar.nestorov

feat(docker): :whale: Add the docker script
  Dockerfile
Owners: @jarvis-network/apps/exchange

feat(meta-tx-lib): :tada: Initial commit
  libs/meta-tx-lib/babel.config.js
  libs/meta-tx-lib/package.json
  libs/meta-tx-lib/tsconfig.json
  libs/meta-tx-lib/tslint.json
  libs/meta-tx-lib/webpack.config.js
  nx.json
  package.json
  workspace.json
Owners: @PetarKirov, @jarvis-network/apps/exchange

feat(meta-tx-lib): :sparkles: Create the EIP712Domain lib
  libs/meta-tx-lib/src/config.ts
  libs/meta-tx-lib/src/eip712domain/eip712domain.lib.ts
  libs/meta-tx-lib/src/eip712domain/index.ts
  libs/meta-tx-lib/src/index.ts
  libs/meta-tx-lib/src/interfaces/index.ts
  libs/meta-tx-lib/src/interfaces/signature.interface.ts
  libs/meta-tx-lib/src/interfaces/typehash.interface.ts
Owners: @PetarKirov

feat(validator-meta-tx): :tada: Initial commit
  .eslintrc.json
  apps/validator-meta-tx/.eslintrc.json
  apps/validator-meta-tx/src/app/.gitkeep
  apps/validator-meta-tx/src/app/app.controller.spec.ts
  apps/validator-meta-tx/src/app/app.controller.ts
  apps/validator-meta-tx/src/app/app.module.ts
  apps/validator-meta-tx/src/app/app.service.spec.ts
  apps/validator-meta-tx/src/app/app.service.ts
  apps/validator-meta-tx/src/assets/.gitkeep
  apps/validator-meta-tx/src/main.ts
  apps/validator-meta-tx/tsconfig.app.json
  apps/validator-meta-tx/tsconfig.json
  apps/validator-meta-tx/tsconfig.spec.json
  jest.config.js
  jest.preset.js
  nx.json
  package.json
  workspace.json
  yarn.lock
Owners: @jarvis-network/apps/exchange, @PetarKirov

build(root): :arrow_up: Move the nest dependencies from root to apps folder
  apps/validator-meta-tx/package.json
  yarn.lock
Owners: @PetarKirov, @jarvis-network/apps/exchange

feat(validator-meta-tx): :sparkles: Create the generic interceptors and handlers
  apps/validator-meta-tx/src/app/app.module.ts
  apps/validator-meta-tx/src/shared/filters/http-exception.filter.ts
  apps/validator-meta-tx/src/shared/interceptors/timeout.interceptors.ts
  apps/validator-meta-tx/tsconfig.app.json
  apps/validator-meta-tx/tsconfig.json
Owners: @PetarKirov

fix(docker): :sparkles: Create script for meta-tx-lib
  Dockerfile
Owners: @jarvis-network/apps/exchange

feat(validator-meta-tx): :sparkles: Add the decorator
  apps/validator-meta-tx/src/shared/decorator/validate.decorator.ts
Owners: @PetarKirov

build(root): :construction: Update config
  apps/validator-meta-tx/package.json
  apps/validator-meta-tx/src/app.module.ts
  apps/validator-meta-tx/src/app/.gitkeep
  apps/validator-meta-tx/src/app/app.controller.spec.ts
  apps/validator-meta-tx/src/app/app.controller.ts
  apps/validator-meta-tx/src/app/app.module.ts
  apps/validator-meta-tx/src/app/app.service.spec.ts
  apps/validator-meta-tx/src/app/app.service.ts
  apps/validator-meta-tx/src/assets/.gitkeep
  apps/validator-meta-tx/src/config.ts
  apps/validator-meta-tx/src/dispatcher.ts
  apps/validator-meta-tx/src/main.ts
  apps/validator-meta-tx/src/shared/decorator/validate.decorator.ts
  apps/validator-meta-tx/tsconfig.app.json
  apps/validator-meta-tx/tsconfig.build.json
  apps/validator-meta-tx/tsconfig.json
  workspace.json
  yarn.lock
Owners: @PetarKirov, @jarvis-network/apps/exchange

build(meta-tx-lib): :heavy_plus_sign: Add the web3 libs
  libs/meta-tx-lib/package.json
  yarn.lock
Owners: @PetarKirov, @jarvis-network/apps/exchange

feat(meta-tx-lib): :sparkles: Add mind,redeem and withdraw message body generator
  libs/meta-tx-lib/src/exchange/exchange.service.ts
  libs/meta-tx-lib/src/exchange/exchange.utils.ts
  libs/meta-tx-lib/src/exchange/index.ts
  libs/meta-tx-lib/src/index.ts
  libs/meta-tx-lib/src/interfaces/exchange.interface.ts
  libs/meta-tx-lib/src/interfaces/index.ts
  libs/meta-tx-lib/src/interfaces/mint.interface.ts
  libs/meta-tx-lib/src/interfaces/redeem.interface.ts
  libs/meta-tx-lib/src/interfaces/signature.interface.ts
  libs/meta-tx-lib/src/interfaces/typehash.interface.ts
  libs/meta-tx-lib/src/mint/index.ts
  libs/meta-tx-lib/src/mint/mint.service.ts
  libs/meta-tx-lib/src/mint/mint.utils.ts
  libs/meta-tx-lib/src/redeem/index.ts
  libs/meta-tx-lib/src/redeem/redeem.service.ts
  libs/meta-tx-lib/src/redeem/redeem.utils.ts
Owners: @PetarKirov

feat(contracts): :sparkles: Add assertion for the synthetic symbols
  libs/contracts/src/config/data/all-synthetic-asset-symbols.ts
Owners: @jarvis-network/apps/exchange

feat(validator-meta-tx): :sparkles: Add the initial controller for the meta-tx and mint request
  apps/validator-meta-tx/src/meta-transactions/dto/exchange.dto.ts
  apps/validator-meta-tx/src/meta-transactions/dto/mint.dto.ts
  apps/validator-meta-tx/src/meta-transactions/dto/redeem.dto.ts
  apps/validator-meta-tx/src/meta-transactions/metatx.controller.ts
  apps/validator-meta-tx/src/meta-transactions/metatx.module.ts
  apps/validator-meta-tx/src/meta-transactions/metatx.service.ts
Owners: @PetarKirov

feat(validator-lib): :recycle: Move the realm from validator to lib
  apps/validator/src/config.ts
  apps/validator/src/index.ts
  libs/validator-lib/src/config.ts
  libs/validator-lib/src/index.ts
  libs/validator-lib/src/realm.ts
Owners: @PetarKirov, @Aleione, @asim_jarvis, @dimitar.nestorov

feat(validator-meta-tx): :sparkles: Inherit config from the validator-lib
  apps/validator-meta-tx/src/config.ts
Owners: @PetarKirov

feat(validator-meta-tx): :sparkles: Create the service to validate and generate request
  apps/validator-meta-tx/src/meta-transactions/metatx.controller.ts
  apps/validator-meta-tx/src/meta-transactions/metatx.service.ts
Owners: @PetarKirov

build(package.json): :heavy_plus_sign: Add the yup and @types/bunyan-prettystream
  apps/validator-meta-tx/package.json
  yarn.lock
Owners: @PetarKirov, @jarvis-network/apps/exchange

fix(validator-meta-tx): :boom: Change the http exception handler
  apps/validator-meta-tx/src/app.module.ts
  apps/validator-meta-tx/src/dispatcher.ts
  apps/validator-meta-tx/src/shared/filters/http-exception.filter.ts
Owners: @PetarKirov

feat(validator-meta-tx): :sparkles: Add the error message generator
  apps/validator-meta-tx/src/erros/generator.ts
  apps/validator-meta-tx/src/erros/messages.ts
Owners: @PetarKirov

feat(validator-meta-tx): :art: Use the yup validator and error messages
  apps/validator-meta-tx/src/meta-transactions/dto/mint.dto.ts
  apps/validator-meta-tx/src/meta-transactions/dto/redeem.dto.ts
  apps/validator-meta-tx/src/meta-transactions/metatx.controller.ts
  apps/validator-meta-tx/src/meta-transactions/metatx.service.ts
Owners: @PetarKirov

[validator-lib] Use new price feed
  apps/validator-meta-tx/.env.example
  apps/validator-meta-tx/src/meta-transactions/metatx.service.ts
  apps/validator/src/services/SynFiatKeeper.ts
  libs/contracts/src/core/types.ts
  libs/validator-lib/package.json
  libs/validator-lib/src/api/jarvis_market_price_feed.ts
  libs/validator-lib/src/index.ts
  libs/validator-lib/src/requests/exchange.ts
  libs/validator-lib/src/requests/mint.ts
  libs/validator-lib/src/requests/redeem.ts
  yarn.lock
Owners: @PetarKirov, @Aleione, @asim_jarvis, @dimitar.nestorov, @jarvis-network/apps/exchange

fix(validator-meta-tx): :bug: Use asset instead of sender for the token validation
  apps/validator-meta-tx/src/meta-transactions/dto/mint.dto.ts
Owners: @PetarKirov

build(package.json): :heavy_plus_sign: Luxon and fix the hosit for the http-erros
  apps/validator-meta-tx/package.json
  package.json
  yarn.lock
Owners: @PetarKirov, @jarvis-network/apps/exchange

feat(validator-meta-tx): :sparkles: Set the timezone to the utc
  apps/validator-meta-tx/src/app.module.ts
Owners: @PetarKirov

feat(validator-meta-tx): :sparkles: Use luxon date and time
  apps/validator-meta-tx/src/meta-transactions/metatx.service.ts
Owners: @PetarKirov

fix(root): :bug: Repository url and Remove the semantic release config
  package.json
Owners: @jarvis-network/apps/exchange

chore(release): @jarvis-network/validator-meta-tx 1.0.0 [skip ci] release notes
  apps/validator-meta-tx/CHANGELOG.md
  apps/validator-meta-tx/package.json
  helm/validator-meta-tx/values.yaml
Owners: @PetarKirov

chore(release): @jarvis-network/validator 1.0.0 [skip ci] release notes
  apps/validator/CHANGELOG.md
Owners: @PetarKirov, @Aleione, @asim_jarvis, @dimitar.nestorov

chore(release): @jarvis-network/web3-utils 1.0.0 [skip ci] release notes
  libs/web3-utils/dist/libs/web3-utils/CHANGELOG.md
Owners: @jarvis-network/apps/exchange

feat(validator-meta-tx): :sparkles: Create helm chart
  .prettierignore
  helm/validator-meta-tx/.helmignore
  helm/validator-meta-tx/Chart.yaml
  helm/validator-meta-tx/templates/NOTES.txt
  helm/validator-meta-tx/templates/_helpers.tpl
  helm/validator-meta-tx/templates/deployment.yaml
  helm/validator-meta-tx/templates/hpa.yaml
  helm/validator-meta-tx/templates/ingress.yaml
  helm/validator-meta-tx/templates/service.yaml
  helm/validator-meta-tx/templates/serviceaccount.yaml
  helm/validator-meta-tx/values.yaml
Owners: @jarvis-network/apps/exchange, @PetarKirov

feat(contracts): :sparkles: Add changes to contracts build
  libs/contracts/src/contracts/abi/index.ts
  libs/contracts/src/contracts/typechain/AdministrateeInterface.d.ts
  libs/contracts/src/contracts/typechain/ExpandedERC20.d.ts
  libs/contracts/src/contracts/typechain/ExpandedIERC20.d.ts
  libs/contracts/src/contracts/typechain/ExpiringMultiParty.d.ts
  libs/contracts/src/contracts/typechain/ExpiringMultiPartyCreator.d.ts
  libs/contracts/src/contracts/typechain/FeePayer.d.ts
  libs/contracts/src/contracts/typechain/Liquidatable.d.ts
  libs/contracts/src/contracts/typechain/OracleInterfaces.d.ts
  libs/contracts/src/contracts/typechain/PricelessPositionManager.d.ts
Owners: @jarvis-network/apps/exchange

feat(validator): :sparkles: Add the semantic-release
  apps/validator/.releaserc.js
  apps/validator/package.json
  apps/validator/release.sh
Owners: @PetarKirov, @Aleione, @asim_jarvis, @dimitar.nestorov

feat(web3-utils): :sparkles: Add semantic-versioning
  libs/web3-utils/.releaserc.js
  libs/web3-utils/dist/package.json
Owners: @jarvis-network/apps/exchange

feat(validator-meta-tx): :sparkles: Add the nonce and fees
  apps/validator-meta-tx/src/meta-transactions/metatx.controller.ts
  apps/validator-meta-tx/src/meta-transactions/metatx.service.ts
Owners: @PetarKirov

feat(validator-meta-tx): :sparkles: Add the semantic-versioning
  apps/validator-meta-tx/.releaserc.js
  apps/validator-meta-tx/package.json
  apps/validator-meta-tx/release.sh
Owners: @PetarKirov

build(docker): :sparkles: Improve build steps and create target for validator-meta-tx
  Dockerfile
Owners: @jarvis-network/apps/exchange

feat(root): :bug: Remove the multi-semantic-release
  package.json
Owners: @jarvis-network/apps/exchange

build(root): :sparkles: Various improvements for CI
  .gitlab-ci.yml
  docker-bake.hcl
Owners: @jarvis-network/apps/exchange
