Repository jarvis-network/synthereum, changes with the owners that CODEOWNERS names for each.
All owners: @PetarKirov, @jarvis-network/apps/exchange, @jarvis-network/teams/developers/maintainers/frontend, @jarvis-network/teams/developers/maintainers/backend, @jarvis-network/teams/developers/maintainers/blockchain

CODEOWNERS:

### Default owner for everything
* @PetarKirov

### Allow everyone to edit root files and docs
/* @jarvis-network/apps/exchange
/docs/ @jarvis-network/apps/exchange

### ... except CODEOWNERS
/CODEOWNERS @PetarKirov

### Packages

/apps/frontend/ @jarvis-network/teams/developers/maintainers/frontend
/packages/frontend-old/ @jarvis-network/teams/developers/maintainers/frontend

/apps/validator/ @jarvis-network/teams/developers/maintainers/backend
/packages/keeper-bot/ @jarvis-network/teams/developers/maintainers/backend

/apps/cli/ @jarvis-network/apps/exchange
/libs/web3-utils/ @jarvis-network/teams/developers/maintainers/backend
/libs/contracts/ @jarvis-network/teams/developers/maintainers/backend
/packages/balance-notify/ @jarvis-network/teams/developers/maintainers/backend

/libs/contracts/contracts/ @jarvis-network/teams/developers/maintainers/blockchain
/libs/contracts/migrations/ @jarvis-network/teams/developers/maintainers/blockchain

[scripts/build_frontend.bash]: Add script for more efficient building of frontend
  scripts/build_frontend.bash
  scripts/check_commit_range.bash
Owners: @PetarKirov

[frontend/store] Add redux logic for price feed subscription
  apps/frontend/state/epic.ts
  apps/frontend/state/epics/prices.ts
  apps/frontend/state/initialState.ts
  apps/frontend/state/persist.ts
  apps/frontend/state/reducer.ts
  apps/frontend/state/slices/assets.ts
  apps/frontend/state/slices/prices.ts
  apps/frontend/state/store.ts
  apps/frontend/utils/epics.ts
Owners: @jarvis-network/teams/developers/maintainers/frontend

[frontend/utils] Add useFeedData custom hook
  apps/frontend/utils/useFeedData.ts
Owners: @jarvis-network/teams/developers/maintainers/frontend

[frontend/Chart] Use redux feed data and adjust Chart for dynamic data
  apps/frontend/components/Chart.tsx
  apps/frontend/components/chart/ChartCard.tsx
Owners: @jarvis-network/teams/developers/maintainers/frontend

[web3-utils/array-fp-utils] Add "unique", "lastInArray" and "indexOfMaxValue" helpers
  libs/web3-utils/src/base/array-fp-utils.ts
Owners: @jarvis-network/teams/developers/maintainers/backend

[frontend/utils] Add PriceFeed subscription class
  apps/frontend/utils/priceFeed.ts
Owners: @jarvis-network/teams/developers/maintainers/frontend

[frontend/utils] Add date formatter
  apps/frontend/utils/format.ts
Owners: @jarvis-network/teams/developers/maintainers/frontend

[frontend/package.json] Add "idb-keyval@3.2", "milliseconds@1.0", "redux-observable@1.2@ and "ric-shim@1.0" as project dependencies
  apps/frontend/next-env.d.ts
  apps/frontend/package.json
  yarn.lock
Owners: @jarvis-network/teams/developers/maintainers/frontend, @jarvis-network/apps/exchange

[frontend/utils] Add cache util
  apps/frontend/utils/cache.ts
Owners: @jarvis-network/teams/developers/maintainers/frontend

[contracts/config] Use SyntheticSymbol in SyntheticTokenConfig
  libs/contracts/src/config/index.ts
Owners: @jarvis-network/teams/developers/maintainers/backend

[contracts/stable-coin] Add stable coin configuration
  libs/contracts/src/config/data/stable-coin.ts
Owners: @jarvis-network/teams/developers/maintainers/backend

[frontend] Optimize data cloning, todo about nullable asset prices, check cache in persist
  apps/frontend/components/Chart.tsx
  apps/frontend/data/assets.ts
  apps/frontend/state/persist.ts
Owners: @jarvis-network/teams/developers/maintainers/frontend

[frontend] Run global prices subscriber
  apps/frontend/pages/index.tsx
Owners: @jarvis-network/teams/developers/maintainers/frontend

[frontend] Switching to ISO string dates for price feed
  apps/frontend/state/epics/prices.ts
  apps/frontend/state/slices/prices.ts
  apps/frontend/utils/priceFeed.ts
  libs/web3-utils/src/base/array-fp-utils.ts
Owners: @jarvis-network/teams/developers/maintainers/frontend, @jarvis-network/teams/developers/maintainers/backend

[frontend/tsconfig] Enable downlevelIteration
  apps/frontend/tsconfig.json
Owners: @jarvis-network/teams/developers/maintainers/frontend

[frontend/asset] Update assets typings amd map from web3-utils
  apps/frontend/components/exchange/ChooseAsset.tsx
  apps/frontend/data/assets.ts
Owners: @jarvis-network/teams/developers/maintainers/frontend

[frontend] Using .env for price feed url
  apps/frontend/.env.example
  apps/frontend/utils/environment.ts
Owners: @jarvis-network/teams/developers/maintainers/frontend

[frontend/utils] Add usePrevious and useSubscriber custom hooks
  apps/frontend/utils/usePrevious.ts
  apps/frontend/utils/useSubscriber.ts
Owners: @jarvis-network/teams/developers/maintainers/frontend

[frontend/utils/price-feed] Rewrite price-feed's methods to arrow functions
  apps/frontend/utils/priceFeed.ts
Owners: @jarvis-network/teams/developers/maintainers/frontend

[frontend/utils] Add environment utils with initial getPriceFeedRoot value
  apps/frontend/utils/environment.ts
Owners: @jarvis-network/teams/developers/maintainers/frontend

[README.md]: Update information about building the project
  README.md
  package.json
Owners: @jarvis-network/apps/exchange

[frontend/Chart] Remove dublicated condition param
  apps/frontend/components/Chart.tsx
Owners: @jarvis-network/teams/developers/maintainers/frontend

[frontend/wallet] Moved balance subscription logic to redux thunk
  apps/frontend/components/header/AccountOverviewModal.tsx
  apps/frontend/state/slices/wallet.ts
Owners: @jarvis-network/teams/developers/maintainers/frontend

[frontend/Chart] Filter possible nil values
  apps/frontend/components/Chart.tsx
Owners: @jarvis-network/teams/developers/maintainers/frontend

[frontend/store] Call subscriptions methods immediately
  apps/frontend/state/slices/transactions.ts
  apps/frontend/state/slices/wallet.ts
Owners: @jarvis-network/teams/developers/maintainers/frontend

[frontend/header/rightRenderer] Render Activity tab after condition
  apps/frontend/components/header/rightRenderer.tsx
Owners: @jarvis-network/teams/developers/maintainers/frontend

[frontend/store] Revert getDefaultMiddleware
  apps/frontend/state/store.ts
Owners: @jarvis-network/teams/developers/maintainers/frontend

[frontend/price-feed] Support time as string in PriceUpdate [fixes JE-145]
  apps/frontend/state/slices/prices.ts
  apps/frontend/utils/priceFeed.ts
Owners: @jarvis-network/teams/developers/maintainers/frontend

[frontend/store] Add Transaction and Wallet methods for subscription
  apps/frontend/state/initialState.ts
  apps/frontend/state/slices/transactions.ts
  apps/frontend/state/slices/wallet.ts
Owners: @jarvis-network/teams/developers/maintainers/frontend

[frontend/wallet] [frontend/transactions] Connect subscribers to RealmAgent from context
  apps/frontend/components/exchange/ChooseAsset.tsx
  apps/frontend/pages/index.tsx
  apps/frontend/state/slices/transactions.ts
  apps/frontend/state/slices/wallet.ts
Owners: @jarvis-network/teams/developers/maintainers/frontend

[contracts/core/realm-agent]: Allow the `Net` type parameter to be omitted
  libs/contracts/examples/intro/ierc20-tic_factory-tic_interface.ts
  libs/contracts/src/core/realm-agent.ts
Owners: @jarvis-network/teams/developers/maintainers/backend

[frontend]: Enable any supported network to be used
  apps/frontend/components/auth/AuthProvider.tsx
  apps/frontend/state/slices/transactions.ts
  apps/frontend/state/slices/wallet.ts
Owners: @jarvis-network/teams/developers/maintainers/frontend

[prettier]: Reformat everything except for `apps/frontend`
  .prettierignore
  apps/cli/src/get-pool-balance.ts
  apps/frontend/.eslintrc.json
  apps/frontend/.prettierignore
  apps/validator/src/api/jarvis_market_price_feed.ts
  apps/validator/src/config.ts
  apps/validator/tsconfig.json
  libs/contracts/examples/intro/ierc20-tic_factory-tic_interface.ts
  libs/contracts/hardhat.config.ts
  libs/contracts/package.json
  libs/contracts/src/config/data/all-synthetic-assets.ts
  libs/contracts/src/config/data/contract-dependencies.ts
  libs/contracts/src/config/supported-networks.ts
  libs/contracts/src/core/pool-utils.ts
  libs/contracts/src/core/realm-agent.ts
  libs/web3-utils/nodemon.json
  libs/web3-utils/src/base/big-number.ts
  libs/web3-utils/src/base/fixed-point-number.ts
  libs/web3-utils/src/base/iterables.ts
  libs/web3-utils/src/base/sorting.ts
  libs/web3-utils/src/eth/contracts/decode.ts
  libs/web3-utils/src/eth/contracts/erc20.ts
  libs/web3-utils/src/eth/contracts/typechain/ERC20.ts
  libs/web3-utils/src/eth/contracts/typechain/types.ts
  libs/web3-utils/src/eth/contracts/types.ts
  libs/web3-utils/src/eth/web3-instance.ts
  libs/web3-utils/src/index.ts
  libs/web3-utils/test/base/fixed-point-number.ts
  libs/web3-utils/test/index.ts
  package.json
  packages/balance-notify/webpack.config.js
  packages/frontend-old/src/App.js
  packages/frontend-old/src/collateralToken.json
  packages/frontend-old/src/components/layout/Pages/Transactions/index.jsx
  packages/keeper-bot/docker-compose.yml
Owners: @jarvis-network/apps/exchange, @jarvis-network/teams/developers/maintainers/frontend, @jarvis-network/teams/developers/maintainers/backend

[contracts]: Add `.prettierignore` file and update format scripts
  libs/contracts/.prettierignore
  libs/contracts/package.json
Owners: @jarvis-network/teams/developers/maintainers/backend
