Repository jarvis-network/synthereum, changes with the owners that CODEOWNERS names for each.
All owners: @PetarKirov, @jarvis-network, @Aleione, @asim_jarvis, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

CODEOWNERS:

### Default owner for everything
* @PetarKirov

### Allow everyone to edit root files
/* @jarvis-network

### ... except CODEOWNERS
/CODEOWNERS @PetarKirov

### Packages
/packages/balance-notify/ @PetarKirov @Aleione @asim_jarvis @dimitar.nestorov
/packages/client/ @PetarKirov @dimitar.nestorov @jacek.nowacki1 @jurijtokarski
/packages/client-new/ @PetarKirov @dimitar.nestorov @jacek.nowacki1 @jurijtokarski
/packages/contracts/contracts @Aleione
/packages/keeper-bot/ @PetarKirov @Aleione @asim_jarvis @dimitar.nestorov
/packages/web3-utils/ @PetarKirov @Aleione @asim_jarvis @dimitar.nestorov @jacek.nowacki1 @jurijtokarski

[BlockchainIntegration] Realm Agent instance is now available in the context
  packages/client-new/components/auth/AuthProvider.tsx
  packages/client-new/components/auth/onboardConfig.ts
  packages/client-new/components/header/AccountOverviewModal.tsx
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

[Exchange] Replaced BNs with FPN
  packages/client-new/components/AssetRow.tsx
  packages/client-new/components/exchange/ChooseAsset.tsx
  packages/client-new/components/exchange/ExchangeCard.tsx
  packages/client-new/components/exchange/ExchangeRate.tsx
  packages/client-new/components/exchange/MainForm.tsx
  packages/client-new/components/exchange/Max.tsx
  packages/client-new/components/header/AccountOverviewModal.tsx
  packages/client-new/data/assets.ts
  packages/client-new/data/fakeWallet.ts
  packages/client-new/package.json
  packages/client-new/state/initialState.ts
  packages/client-new/utils/format.ts
  packages/client-new/utils/math.ts
  packages/client-new/utils/useRate.ts
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

[keeper-bot-v2]: Rewrite `config/tic.json` to TS as `config/price-feed.ts`
  packages/keeper-bot-v2/config/tic.json
  packages/keeper-bot-v2/src/config/price-feed.ts
Owners: @PetarKirov

[contracts/config]: Rename `./types` to `./index.ts` and extract `supported-networks` code to a new file
  packages/client-new/components/auth/AuthProvider.tsx
  packages/contracts/examples/intro/ierc20-tic_factory-tic_interface.ts
  packages/contracts/src/config/data/add-synthetic-assets.ts
  packages/contracts/src/config/data/all-synthetic-assets.ts
  packages/contracts/src/config/data/contract-dependencies.ts
  packages/contracts/src/config/data/fees.ts
  packages/contracts/src/config/data/fund-assets.ts
  packages/contracts/src/config/data/roles.ts
  packages/contracts/src/config/data/tic-config.ts
  packages/contracts/src/config/index.ts
  packages/contracts/src/config/supported-networks.ts
  packages/contracts/src/core/load-realm.ts
  packages/contracts/src/core/realm-agent.ts
  packages/contracts/src/core/types.ts
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

[keeper-bot-v2/api/jarvis_market_price_feed]: Fix compilation
  packages/keeper-bot-v2/src/api/jarvis_market_price_feed.ts
Owners: @PetarKirov

[keeper-bot-v2/config]: Fix imports and use parseSupportedNetworkId function
  packages/keeper-bot-v2/src/config.ts
Owners: @PetarKirov

[contracts/config/supported-networks]: Add `parseSupportedNetworkId` function
  packages/contracts/src/config/supported-networks.ts
Owners: @PetarKirov

[contracts/config]: Refactor the code and add `mapAsset` function
  packages/contracts/src/config/data/all-synthetic-asset-symbols.ts
  packages/contracts/src/config/index.ts
  packages/contracts/src/config/supported-networks.ts
Owners: @PetarKirov

[web3-utils/eth/contracts/erc20]: Export `scaleTokenAmountToWei` and `weiToTokenAmount` functions
  packages/web3-utils/src/eth/contracts/erc20.ts
Owners: @PetarKirov, @Aleione, @asim_jarvis, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

[contracts/core/types]: Add SynthereumRealmWithWeb3 type that also holds the web3 instance and netId
  packages/client-new/components/auth/AuthProvider.tsx
  packages/contracts/examples/intro/ierc20-tic_factory-tic_interface.ts
  packages/contracts/src/core/load-realm.ts
  packages/contracts/src/core/realm-agent.ts
  packages/contracts/src/core/types.ts
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

[contracts/core/types]: Add `priceFeed` field to SynthereumPool
  packages/contracts/src/config/data/price-feed.ts
  packages/contracts/src/core/load-realm.ts
  packages/contracts/src/core/types.ts
Owners: @PetarKirov

[keeper-bot-v2/services/maths]: Move functionality to `web3-utils/base/big-number`
  packages/keeper-bot-v2/src/services/maths.ts
  packages/web3-utils/src/base/big-number.ts
Owners: @PetarKirov, @Aleione, @asim_jarvis, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

[keeper-bot-v2]: Fix compilation by using the new APIs provided by other packages
  packages/keeper-bot-v2/src/index.ts
  packages/keeper-bot-v2/src/services/SynFiatKeeper.ts
Owners: @PetarKirov

[web3-utils]: Delete Web3Service and move the only useful code - `setPrivateKey` - to `web3-instance`
  packages/web3-utils/src/eth/web3-instance.ts
  packages/web3-utils/src/index.ts
  packages/web3-utils/src/web3.service.ts
Owners: @PetarKirov, @Aleione, @asim_jarvis, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

[web3-utils/eth/contracts/get-contract]: Make `address` param in `getContract` function optional
  packages/web3-utils/src/eth/contracts/get-contract.ts
Owners: @PetarKirov, @Aleione, @asim_jarvis, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

[contracts/core/load-realm]: Use `TICInterface` instead of `TIC`
  packages/contracts/src/core/load-realm.ts
  packages/contracts/src/core/types.ts
Owners: @PetarKirov

[web3-utils/eth/web3-instance]: Fix `NetworkOf` implementation after the changes to `ValueOnNetwork` and `tagged-type`
  packages/web3-utils/src/eth/web3-instance.ts
Owners: @PetarKirov, @Aleione, @asim_jarvis, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

[web3-utils/base/meta]: Add ``Entries`, `entriesOf`, `PerTupleElement` and `mapTupleToObject`
  packages/web3-utils/src/base/meta.ts
Owners: @PetarKirov, @Aleione, @asim_jarvis, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

[yarn.lock]: Upgrade prettier to 2.2.1 for compat with TS 4.1
  yarn.lock
Owners: @jarvis-network

[yarn.lock]: Fix forgotten update
  yarn.lock
Owners: @jarvis-network

[Exchange] Added fees calculations
  packages/client-new/components/exchange/MainForm.tsx
  packages/client-new/data/fee.ts
  packages/client-new/utils/useExchangeValues.ts
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

[Exchange] Removed unneeded stuff from info panel, added real fees calculations
  packages/client-new/components/exchange/Fees.tsx
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

[contracts/package.json]: Add dev dependency for hardat integration
  package.json
  packages/contracts/package.json
  packages/contracts/src/contracts/typechain/ExpiringMultiParty.d.ts
  packages/contracts/src/contracts/typechain/FeePayer.d.ts
  packages/contracts/src/contracts/typechain/Liquidatable.d.ts
  packages/contracts/src/contracts/typechain/PricelessPositionManager.d.ts
  yarn.lock
Owners: @jarvis-network, @PetarKirov

[contracts]: Add hardhat.config.ts
  packages/contracts/hardhat.config.ts
Owners: @PetarKirov

[contracts]: Removal of multi-line import in solidity files
  packages/contracts/contracts/TIC.sol
  packages/contracts/contracts/TICFactory.sol
Owners: @Aleione

[contracts]: Update solc version to 0.6.12
  packages/contracts/truffle-config.js
Owners: @PetarKirov

[contracts/package.json]: Upgrade `@jarvis-network/uma-core` from `0.1.0` to `0.2.0`
  packages/contracts/package.json
  yarn.lock
Owners: @PetarKirov, @jarvis-network

[contracts/package.json]: Upgrade `@openzeppelin/contracts` from `3.0.0` to `3.3.0`
  packages/contracts/package.json
  packages/contracts/src/contracts/typechain/AccessControl.d.ts
  packages/contracts/src/contracts/typechain/ERC20.d.ts
  packages/contracts/src/contracts/typechain/ExpandedERC20.d.ts
  packages/contracts/src/contracts/typechain/SyntheticToken.d.ts
  packages/contracts/src/contracts/typechain/TIC.d.ts
  packages/contracts/src/contracts/typechain/TICFactory.d.ts
  packages/contracts/src/contracts/typechain/index.ts
  yarn.lock
Owners: @PetarKirov, @jarvis-network

[package.json]: Add `prettier-plugin-solidity@^1.0.0-beta.2` dev dependency
  package.json
  packages/contracts/contracts/IExpiringMultiParty.sol
  packages/contracts/contracts/TIC.sol
  packages/contracts/contracts/TICHelper.sol
  packages/contracts/contracts/TICInterface.sol
  yarn.lock
Owners: @jarvis-network, @Aleione

[nix]: Fix eudev import on macos
  shell.nix
Owners: @jarvis-network

[docs/]: Add fee calculations document
  docs/fee-calculations.md
Owners: @PetarKirov

[package.json/clean* scripts]: Don't delete `.direnv` and `hush` files
  package.json
Owners: @jarvis-network

[scripts/repo-cleanup-post-part-1-of-nx.dev-changes]: Add script for cleaning up the repo after folder renaming
  scripts/repo-cleanup-post-part-1-of-nx.dev-changes.bash
Owners: @PetarKirov

[package.json]: Override borked package `@umaprotocol/truffle-ledger-provider` with ours: `@jarvis-network/ledger-web3-provider`
  package.json
  yarn.lock
Owners: @jarvis-network

[frontend-old]: Upgrade `web3-react@^5.0.5` to `@web3-react/core@^6.1.1`
  packages/frontend-old/package.json
  packages/frontend-old/src/App.js
  packages/frontend-old/src/components/elements/Faucet/index.jsx
  packages/frontend-old/src/components/elements/OrderForm/index.jsx
  packages/frontend-old/src/components/elements/TransactionTable/index.jsx
  packages/frontend-old/src/components/elements/WalletBalance/index.jsx
  packages/frontend-old/src/components/layout/Header/index.jsx
  packages/frontend-old/src/components/layout/Wallet/index.jsx
  packages/frontend-old/src/helpers/utils.js
  packages/frontend-old/src/index.js
  yarn.lock
Owners: @PetarKirov, @jarvis-network
