Repository jarvis-network/synthereum, changes with the owners that CODEOWNERS names for each.
All owners: @PetarKirov, @jarvis-network, @Aleione, @asim_jarvis, @edi-shardlabs, @igor-shardlabs, @jacek.nowacki1, @jurijtokarski

[Auth] Added blocknative onboard basic integration
  .gitlab-ci.yml
  packages/client-new/components/ExampleBox.tsx
  packages/client-new/components/auth/AuthProvider.tsx
  packages/client-new/components/header/rightRenderer.tsx
  packages/client-new/package.json
  packages/client-new/pages/_app.tsx
  packages/client-new/state/initialState.ts
  packages/client-new/state/slices/auth.ts
  yarn.lock
Owners: @jarvis-network, @PetarKirov, @igor-shardlabs, @jacek.nowacki1, @jurijtokarski

[README]: Correct requirements and installation sections
  README.md
Owners: @jarvis-network

[Header] Theme changer in account dropdown (closes JE-2)
  packages/client-new/components/ExampleBox.tsx
  packages/client-new/components/header/rightRenderer.tsx
Owners: @PetarKirov, @igor-shardlabs, @jacek.nowacki1, @jurijtokarski

[Header] Use dropdown in header with working logout (closes JE-7, fixes JE-50)
  packages/client-new/components/header/SignInUpButton.tsx
  packages/client-new/components/header/rightRenderer.tsx
Owners: @PetarKirov, @igor-shardlabs, @jacek.nowacki1, @jurijtokarski

[Header] Added avatar image (closes JE-51)
  packages/client-new/components/header/rightRenderer.tsx
  packages/client-new/package.json
  packages/client-new/utils/avatar.ts
  yarn.lock
Owners: @PetarKirov, @igor-shardlabs, @jacek.nowacki1, @jurijtokarski, @jarvis-network

[CI/CD] Fix typo in CI config file
  .gitlab-ci.yml
Owners: @jarvis-network

[Background] Disabled animation (JE-26)
  packages/client-new/components/Background.tsx
  packages/client-new/components/PreloadBackground.tsx
  packages/client-new/components/auth/AuthProvider.tsx
  packages/client-new/pages/_app.tsx
Owners: @PetarKirov, @igor-shardlabs, @jacek.nowacki1, @jurijtokarski

[Header] Added ENS name in the account button
  packages/client-new/components/auth/AuthProvider.tsx
  packages/client-new/components/header/rightRenderer.tsx
  packages/client-new/package.json
  packages/client-new/utils/ens.ts
  packages/client-new/utils/usePrettyName.ts
  yarn.lock
Owners: @PetarKirov, @igor-shardlabs, @jacek.nowacki1, @jurijtokarski, @jarvis-network

[CodeStyle] Added linter + prettier + formatted the code
  packages/client-new/.eslintrc.json
  packages/client-new/.prettierignore
  packages/client-new/components/AppThemeProvider.tsx
  packages/client-new/components/Background.tsx
  packages/client-new/components/ExampleBox.tsx
  packages/client-new/components/NextLink.tsx
  packages/client-new/components/auth/AuthProvider.tsx
  packages/client-new/components/header/SignInUpButton.tsx
  packages/client-new/components/header/StickyHeader.tsx
  packages/client-new/components/header/rightRenderer.tsx
  packages/client-new/data/backgrounds.ts
  packages/client-new/package.json
  packages/client-new/pages/_app.tsx
  packages/client-new/pages/index.tsx
  packages/client-new/state/initialState.ts
  packages/client-new/state/reducer.ts
  packages/client-new/state/slices/auth.ts
  packages/client-new/state/slices/theme.ts
  packages/client-new/state/store.ts
  packages/client-new/tsconfig.json
  packages/client-new/utils/avatar.ts
  packages/client-new/utils/ens.ts
  packages/client-new/utils/usePrettyName.ts
  yarn.lock
Owners: @PetarKirov, @igor-shardlabs, @jacek.nowacki1, @jurijtokarski, @jarvis-network

[ENS] potential race condition fixed
  packages/client-new/utils/usePrettyName.ts
Owners: @PetarKirov, @igor-shardlabs, @jacek.nowacki1, @jurijtokarski

[Chart] remove chart on unmount, change let to const (JE-8)
  packages/client-new/components/Chart.tsx
Owners: @PetarKirov, @igor-shardlabs, @jacek.nowacki1, @jurijtokarski

[Chart] add chart component (JE-8)
  packages/client-new/components/Chart.tsx
  packages/client-new/package.json
  yarn.lock
Owners: @PetarKirov, @igor-shardlabs, @jacek.nowacki1, @jurijtokarski, @jarvis-network

[nix]: Create initial default.nix
  default.nix
Owners: @jarvis-network

[Exchange] Exchange panel UI with basic interactions
  packages/client-new/components/Card.tsx
  packages/client-new/components/CardsHolder.tsx
  packages/client-new/components/Chart.browser.tsx
  packages/client-new/components/Chart.tsx
  packages/client-new/components/ExampleBox.tsx
  packages/client-new/components/auth/AuthProvider.tsx
  packages/client-new/components/chart/ChartCard.tsx
  packages/client-new/components/exchange/Asset.tsx
  packages/client-new/components/exchange/ChooseAsset.tsx
  packages/client-new/components/exchange/ExchangeCard.tsx
  packages/client-new/components/exchange/ExchangeRate.tsx
  packages/client-new/components/exchange/ExchangeRateIcon.tsx
  packages/client-new/components/exchange/FlagsPair.tsx
  packages/client-new/components/exchange/MainForm.tsx
  packages/client-new/components/exchange/StyledCard.tsx
  packages/client-new/components/exchange/StyledSearchBar.tsx
  packages/client-new/components/header/rightRenderer.tsx
  packages/client-new/data/assets.ts
  packages/client-new/data/chartFakeData.json
  packages/client-new/package.json
  packages/client-new/pages/_app.tsx
  packages/client-new/pages/index.tsx
  packages/client-new/state/initialState.ts
  packages/client-new/state/reducer.ts
  packages/client-new/state/slices/assets.ts
  packages/client-new/state/slices/auth.ts
  packages/client-new/state/slices/exchange.ts
  packages/client-new/state/slices/theme.ts
  yarn.lock
Owners: @PetarKirov, @igor-shardlabs, @jacek.nowacki1, @jurijtokarski, @jarvis-network

CODEOWNERS:

### Default owner for everything
* @PetarKirov

### Allow everyone to edit root files
/* @jarvis-network

### ... except CODEOWNERS
/CODEOWNERS @PetarKirov

### Packages
/packages/balance-notify/ @PetarKirov @Aleione @asim_jarvis @edi-shardlabs
/packages/client/ @PetarKirov @igor-shardlabs @jacek.nowacki1 @jurijtokarski
/packages/client-new/ @PetarKirov @igor-shardlabs @jacek.nowacki1 @jurijtokarski
/packages/contracts/ @Aleione
/packages/keeper-bot/ @PetarKirov @Aleione @asim_jarvis @edi-shardlabs
