Repository jarvis-network/synthereum, changes with the owners that CODEOWNERS names for each.
All owners: @PetarKirov, @jarvis-network/apps/exchange, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski, @Aleione, @asim_jarvis

CODEOWNERS:

### Default owner for everything
* @PetarKirov

### Allow everyone to edit root files and docs
/* @jarvis-network/apps/exchange
/docs/ @jarvis-network/apps/exchange

### ... except CODEOWNERS
/CODEOWNERS @PetarKirov

### Packages

/apps/frontend/ @PetarKirov @dimitar.nestorov @jacek.nowacki1 @jurijtokarski
/packages/frontend-old/ @PetarKirov @dimitar.nestorov @jacek.nowacki1 @jurijtokarski

/apps/validator/ @PetarKirov @Aleione @asim_jarvis @dimitar.nestorov
/packages/keeper-bot/ @PetarKirov @Aleione @asim_jarvis @dimitar.nestorov

/apps/cli/ @jarvis-network/apps/exchange
/libs/web3-utils/ @jarvis-network/apps/exchange
/libs/contracts/ @jarvis-network/apps/exchange
/packages/balance-notify/ @jarvis-network/apps/exchange

/libs/contracts/contracts/ @Aleione
/libs/contracts/migrations/ @Aleione
/libs/contracts/data/ @Aleione

feat(validator-lib): :recycle: Move the realm from validator to lib
  apps/validator/src/config.ts
  apps/validator/src/index.ts
  libs/validator-lib/src/config.ts
  libs/validator-lib/src/index.ts
  libs/validator-lib/src/realm.ts
Owners: @PetarKirov, @Aleione, @asim_jarvis, @dimitar.nestorov

feat(validator-meta-tx): :sparkles: Add the initial controller for the meta-tx and mint request
  apps/validator-meta-tx/src/meta-transactions/dto/exchange.dto.ts
  apps/validator-meta-tx/src/meta-transactions/dto/mint.dto.ts
  apps/validator-meta-tx/src/meta-transactions/dto/redeem.dto.ts
  apps/validator-meta-tx/src/meta-transactions/metatx.controller.ts
  apps/validator-meta-tx/src/meta-transactions/metatx.module.ts
  apps/validator-meta-tx/src/meta-transactions/metatx.service.ts
Owners: @PetarKirov

fix(validator-meta-tx): :boom: Change the http exception handler
  apps/validator-meta-tx/src/app.module.ts
  apps/validator-meta-tx/src/dispatcher.ts
  apps/validator-meta-tx/src/shared/filters/http-exception.filter.ts
Owners: @PetarKirov

feat(validator-meta-tx): :sparkles: Create the service to validate and generate request
  apps/validator-meta-tx/src/meta-transactions/metatx.controller.ts
  apps/validator-meta-tx/src/meta-transactions/metatx.service.ts
Owners: @PetarKirov

build(package.json): :heavy_plus_sign: Add the yup and @types/bunyan-prettystream
  apps/validator-meta-tx/package.json
  yarn.lock
Owners: @PetarKirov, @jarvis-network/apps/exchange

feat(validator-meta-tx): :art: Use the yup validator and error messages
  apps/validator-meta-tx/src/meta-transactions/dto/mint.dto.ts
  apps/validator-meta-tx/src/meta-transactions/dto/redeem.dto.ts
  apps/validator-meta-tx/src/meta-transactions/metatx.controller.ts
  apps/validator-meta-tx/src/meta-transactions/metatx.service.ts
Owners: @PetarKirov

feat(validator-meta-tx): :sparkles: Add the error message generator
  apps/validator-meta-tx/src/erros/generator.ts
  apps/validator-meta-tx/src/erros/messages.ts
Owners: @PetarKirov

[validator-lib] Use new price feed
  apps/validator-meta-tx/.env.example
  apps/validator-meta-tx/src/meta-transactions/metatx.service.ts
  apps/validator/src/index.ts
  apps/validator/src/services/SynFiatKeeper.ts
  libs/contracts/src/core/types.ts
  libs/validator-lib/package.json
  libs/validator-lib/src/api/jarvis_market_price_feed.ts
  libs/validator-lib/src/index.ts
  libs/validator-lib/src/requests/exchange.ts
  libs/validator-lib/src/requests/mint.ts
  libs/validator-lib/src/requests/redeem.ts
  yarn.lock
Owners: @PetarKirov, @Aleione, @asim_jarvis, @dimitar.nestorov, @jarvis-network/apps/exchange

fix(validator-meta-tx): :bug: Use asset instead of sender for the token validation
  apps/validator-meta-tx/src/meta-transactions/dto/mint.dto.ts
Owners: @PetarKirov

build(package.json): :heavy_plus_sign: Luxon and fix the hosit for the http-erros
  apps/validator-meta-tx/package.json
  package.json
  yarn.lock
Owners: @PetarKirov, @jarvis-network/apps/exchange

feat(validator-meta-tx): :sparkles: Set the timezone to the utc
  apps/validator-meta-tx/src/app.module.ts
Owners: @PetarKirov

feat(validator-meta-tx): :sparkles: Use luxon date and time
  apps/validator-meta-tx/src/meta-transactions/metatx.service.ts
Owners: @PetarKirov

feat(validator-meta-tx): :sparkles: 1
  apps/validator-meta-tx/src/meta-transactions/metatx.controller.ts
Owners: @PetarKirov

feat(validator-meta-tx): :sparkles: 1
  apps/validator-meta-tx/src/meta-transactions/metatx.service.ts
Owners: @PetarKirov

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @jarvis-network/apps/exchange

feat(validator-meta-tx): :sparkles: wip
  .gitlab-ci.yml
  package.json
Owners: @jarvis-network/apps/exchange

feat(root): :fire: Add semantic-versioning
  .gitlab-ci.yml
  package.json
Owners: @jarvis-network/apps/exchange

chore(root): :pushpin: Fix forgotten yarn.lock file update
  yarn.lock
Owners: @jarvis-network/apps/exchange

chore(release): 1.0.0 [skip ci]
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Owners: @jarvis-network/apps/exchange

chore(release): 1.0.0 [skip ci]
  packages/frontend-old/CHANGELOG.md
  packages/frontend-old/package.json
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

chore(release): 1.0.0 [skip ci]
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

chore(release): 1.0.0 [skip ci]
  apps/validator/CHANGELOG.md
  apps/validator/package.json
Owners: @PetarKirov, @Aleione, @asim_jarvis, @dimitar.nestorov

chore(release): 1.0.0 [skip ci]
  libs/contracts/CHANGELOG.md
  libs/contracts/package.json
Owners: @jarvis-network/apps/exchange

chore(release): 1.0.0 [skip ci]
  libs/web3-utils/dist/CHANGELOG.md
  libs/web3-utils/dist/package.json
Owners: @jarvis-network/apps/exchange

fix(frontend): :bug: Fixed inverted prices
  apps/frontend/components/exchange/ExchangeRate.tsx
  apps/frontend/utils/useExchangeValues.ts
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

fix(frontend): :monocle_face: Change arithmetic from `a.mul(1.div(b))` to `a.div(b)` in `useExchangeValues`
  apps/frontend/utils/useExchangeValues.ts
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

refactor(frontend): :wrench: Rename `getPriceFeedRoot` to `getPriceFeedEndpoint`
  apps/frontend/state/store.ts
  apps/frontend/utils/environment.ts
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

fix(frontend): :wrench: Change default price feed endpoint url to pricefeed-dev.jarvis.exchange
  apps/frontend/utils/environment.ts
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

[frontend/Exchange]: updated fees text popup
  apps/frontend/components/exchange/Fees.tsx
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

build: :wrench: Update start/build scripts in `{package,workspace}.json` and updates docs
  README.md
  apps/cli/package.json
  apps/validator/package.json
  nx.json
  package.json
  workspace.json
Owners: @jarvis-network/apps/exchange, @PetarKirov, @Aleione, @asim_jarvis, @dimitar.nestorov

chore(validator): :loud_sound: Add additional logging
  apps/validator/src/index.ts
  apps/validator/src/services/SynFiatKeeper.ts
Owners: @PetarKirov, @Aleione, @asim_jarvis, @dimitar.nestorov

chore(release): 1.0.1 [skip ci]
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

[eslint]: fixed eslint not working, reformatted frontend code
  apps/frontend/.eslintrc.json
  apps/frontend/components/header/rightRenderer.tsx
  apps/frontend/state/persist.ts
  apps/frontend/state/slices/prices.ts
  apps/frontend/state/slices/wallet.ts
  apps/frontend/utils/priceFeed.ts
  apps/frontend/utils/styleMixins.ts
  package.json
  yarn.lock
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski, @jarvis-network/apps/exchange

[frontend/store] Fix reversing pairs in exchange panel
  apps/frontend/state/epics/prices.ts
Owners: @PetarKirov, @dimitar.nestorov, @jacek.nowacki1, @jurijtokarski

fix(root): :bug: Disable the cz on rebase
  husky.sh
  package.json
Owners: @jarvis-network/apps/exchange

chore(package.json): :lipstick: Sort the packages
  package.json
Owners: @jarvis-network/apps/exchange

feat(validator-lib): :tada: Initial commit
  libs/validator-lib/babel.config.js
  libs/validator-lib/package.json
  libs/validator-lib/tsconfig.json
  libs/validator-lib/tslint.json
  libs/validator-lib/webpack.config.js
  nx.json
  package.json
  workspace.json
  yarn.lock
Owners: @PetarKirov, @jarvis-network/apps/exchange

feat(validator-lib): :sparkles: Create the logger
  libs/validator-lib/package.json
  libs/validator-lib/src/log.ts
  yarn.lock
Owners: @PetarKirov, @jarvis-network/apps/exchange

feat(validator-lib): :sparkles: Create the Exchange,Mint and Redeem Services
  libs/validator-lib/package.json
  libs/validator-lib/src/api/jarvis_market_price_feed.ts
  libs/validator-lib/src/config.ts
  libs/validator-lib/src/index.ts
  libs/validator-lib/src/interfaces/exchange.request.ts
  libs/validator-lib/src/interfaces/index.ts
  libs/validator-lib/src/interfaces/mint.request.ts
  libs/validator-lib/src/interfaces/redeem.request.ts
  libs/validator-lib/src/requests/exchange.ts
  libs/validator-lib/src/requests/index.ts
  libs/validator-lib/src/requests/mint.ts
  libs/validator-lib/src/requests/redeem.ts
Owners: @PetarKirov

refactor(validator): :fire: Remove log file
  apps/validator/src/logger.ts
Owners: @PetarKirov, @Aleione, @asim_jarvis, @dimitar.nestorov
